.devcontainer.env
.DS_Store

*.vs
**/bin/
**/obj/
~$*.docx
**/.sonarqube
**/.code-workspace
*.code-workspace
nuget.config
**/TestResult

lcov.info

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
